.main-layout {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 350px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 100px;

}

.main-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 10px 0;

    &>header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        &>i {
            margin: 36px 0 12px;
        }
    }

}

.main-items {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.main-item-container-1 {
    margin: 0 40px 4px;
    width: 268px;


}

.main-item-container-2 {
    margin: 0 40px 10px;


}

.main-item-container-3 {
    margin: 5px 40px 10px;
    display: flex;
    align-items: center;

  


}

.main-item-container-4 {
    margin: 10px 40px 13px;
    display: flex;
    align-items: center;
    &>.side-line {
        flex-grow: 1;
        height: 1px;
        background-color: #dbdbdb;

    }

    &>.or-text {
        margin: 0 18px;
        font-size: 13px;
        font-weight: 600;
        color: #737373;
    }
  
}
.main-item-container-5 {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;

}
.button-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0095F6;

    & :hover {
        background-color: #1877f2;
    }

    & :disabled {
        background-color: #0095F699;
    }

}

.input-box {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;

    border-radius: 3px;

    height: 38px;
    background-color: #fafafa;

    &>input {
        box-sizing: border-box;
        outline: none;
        bottom: none;
        padding: 9px 0 7px 8px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 12px;

        &::-webkit-input-placeholder {
            color: 00000000;

        }

        &:not(:placeholder-shown) {
            padding: 14px 0 2px 8px;

        }

        &:not(:placeholder-shown)+label {
            top: 6px;
            font-size: 10px;
        }
    }


    &>label {
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
        color: #737373;
        font-size: 12px;
        cursor: text;
        transition: all 0.1s ease-in-out;
    }

}

.main-item-facebook-login {
    margin: 15px;


}

.main-item-login-box {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

    &>a {
        font-size: 14px;
        font-weight: 600;
        color: #0095F6;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    a:hover {
        color: #dbdbdb;
    }

}

.center-text-question {
    margin: 15px;
    width: fit-content;
    font-size: 14px;

    &>a {
        font-size: 14px;
        font-weight: 600;
        color: #0095F6;

    }

}

.facebook-icon {
    display: block;
    background-image: url(https://static.cdninstagram.com/rsrc.php/v4/y5/r/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    margin: 0 8px 0 0;
    height: 16px;
    width: 16px;
    background-position: -414px -300px;


}


.download-link-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    &>a:nth-of-type(1) {
        margin-right: 8px;
    }

    &>a>img {
        height: 40px;

    }
}


.main-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>span {
        font-size: 14px;
        margin: 10px 20px;
    }
}